 <style>
    .videoBg{
        text-align: center;
        margin-top: 5%;
    }
 </style>   

<div class="videoBg">
<video controls>
<source src="GeniusBarExperienceDownscale.mp4" type='video/mp4' />
</video>
</div>